* {
    margin: 0;
    padding: 0;
}

#footer {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
